<html>
<head>
<meta charset="utf-8">
<title>log in</title>
<link rel="stylesheet" href="stylesheet.css">
</head>
<body>
<% if @error_message %>
	<div class='form-error'>
	<%= @error_message	%>
	<div/>
	<%end%>
<div class="form-wrapper">
	<h1>Log In</h1>
	

	<%= form_tag("/login") do %>
		<div class="form-item">
			<label for="email"></label>
			<input type="email" name="email" required="required" placeholder="Email Address" value="<%= @email %>"></input>
		</div>
		<div class="form-item">
			<label for="password"></label>
			<input type="password" name="password" required="required" placeholder="Password" value="<%= @password %>"></input>
		</div>
		<div class="button-panel">
			<input type="submit" class="button" title="Log In" value="Log In"></input>
		</div>
	<% end %>
	<div class="form-footer">
		<p><%= link_to('Create an account', "/register")%></p>
		<p><a href="#">Forgot password?</a></p>
	</div>
</div>
</body>
</html>
