<!DOCTYPE html>

<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <link rel="stylesheet" href="./assets/stylesheets/personal.css">
      <title>MyPage</title>
  </head>
  <body>
    <% if session[:user_id] %>
    <nav>
    <ul>
      <li><%= @user.username %></li>
      <li><%= link_to("New Token","/token/new") %> </li>
      <li><a href="./people">Brand</a></li>
      <li class="current"><a href="./personal">Mypage</a></li>
      <li><a href="../">Home</a></li>
    </ul>
  </nav>

    <h1>マイページ</h1>
    <div class="top">
      <span>プロフィール</span>
      <%= link_to("保有資産", "/personal/assets") %>
    </div>

    <h2><%= @user.username %></h2>　<!名前とかはDBから取り出すと思うけどよくわからん>

    <button type="button" onclick="location.href='/personal/edit/'">プロフィールを編集する</button>


    
    <div class="profile">
      <br>
   <br>
   <br>
      <% if @user.profile.present? %>
      <%=@user.profile %>
       <% end %>
      <br>
      <br>
    </div>
   


     トークン 
    <p class="value">現在1分あたり<%= @price_time %> </p>
    <p class="time">発行時間：<%= @user.time  %>分</p>
    <p class="capitalization">時価総額<%= @total %>円</p><br>



    <div class="service">
      <p class="content">
        提供内容
        ここに提供内容を書きます
        ここに提供内容を書きます
      </p>
    </div>
    <% end %>
  </body>

</html>
